{% load static %}
<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
</head>

<header>
    <h1>Login</h1>
    <h3> Please input username and password
</header>

<!-- Username and Password form searchboxes -->
<form action="/login/login_attempt/" method="get">
     {% csrf_token %}
     <label for="username">Username</label>
          <input type="text" id="username" name='username' placeholder="john">
          <br><br>
     <label for="password">Password</label>
          <input type="password" id="password" name='password' placeholder="1234">
          <br><br>
     <input type="submit" value="Submit">
</form>

<!-- Shows error message and will prompt the user to signup if failed -->
{% if error and error != "none" %}
<body>
     <div id="popup" class="popup">
          <div class="popup-content">
               <span class="close" id="close-popup">&times;</span>
               <h3>{{ error }}</h3>
               <p>Please Try Again.</p>
          </div>
     </div>
 
     <script src="{% static 'account/script.js' %}"></script>
     <script>
          window.onload = function() {
               document.getElementById('popup').style.display = 'block';
          }
     </script>
 </body>
{% endif %}
<a href="/signup/" class="redirect-button">Signup</a>